.heading
{
    font-size: 15px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 10px 18px orange;
    
}
.note
{
    font-size:15px;
    color: black;
    font-weight: bold;
    font-family: cursive;
}

.copy_right_footer
{
    font-family: cursive;
    color: black;
    bottom: 0;
    position: fixed;
    background-color: grey;
    line-height: 3;
    text-align: center;
    width: 100%;
}
canvas
{
    border-radius: 90px;
    border: 10px solid rgb(202, 190, 16);
}
video
{
    border-radius: 100%;
    border: 10px solid rgb(202, 190, 16);
}
body
{
    background-color: orange;
}
